/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fc2403;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

h1{
    color: #fc2403
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;                      
}

.left, .right {
  padding: 10px;
}

table {
  width: 100%;
}

.error{
  color: #fc2403;
  visibility: hidden;
}
